@import "../../Styles/scss/partials/vars";

.wrap {
  background: $colorGrey;
  padding: $verticalGutter 0;
}

.cartHeader {
  display: flex;
  justify-content: center;
  margin-bottom: 45px;
}

.cartHeaderInner {
  position: relative;
  a {
    color: $colorBlack;
    background: $colorGrey;
    margin: 0 50px;
    position: relative;
    z-index: 2;
    padding: 0 6px;
    &:global(.active) {
      color: $colorRed;
    }
    &:hover {
      text-decoration: none;
    }
  }
  &:before {
    content: '';
    position: absolute;
    width: 75%;
    height: 1px;
    background: $colorBlack;
    top: 13px;
    z-index: 1;
    left: 0;
    right: 0;
    margin: auto;
  }
  @media (max-width: 769px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    &:before {
      display: none;
    }
  }
}

.orderSummaryLine {
  padding: 3px 6px;
}

.orderSummaryBlock {
  position: sticky;
  top: $headerHeight + 15px;
}

.shopLink {
  text-decoration: underline;
  color: $colorBlack;
  align-self: flex-end;
}

.checkoutButtonWrap {
  margin-top: 30px;
  text-align: center;
}

.checkoutForm {
  width: 660px;
  margin: auto;
  max-width: 100%;
}

.proceedCheckoutWrap {
  padding-top: 45px;
}

.cartMain {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.cartItemsWrap {
  flex: 1;
  height: 100%;
}
.checkout {
  height: 100%;
  background: #fff;
  display: flex;
  min-height: 510px;
  flex-direction: column;
  justify-content: center;
}
.smallOR {
  font-size: 12px;
  padding: 11px 15px 11px 0;
}
.smallLogin {
  font-size: 14px;
  height: 38px;
}

.promoButtonWrap {
  text-align: center;
  padding: 30px;
}

.popupClose {
  text-align: right;
  padding: 10px 15px;
}

.promoPopupWrap {
  width: 450px;
  padding: 0 30px;
  h4 {
    font-family: $fontTitle;
    margin-bottom: 27px;
    text-align: center;
  }
  .promoCodeInput {
    // margin-bottom: 27px;
  }
  .or {
    text-align: center;
    margin-bottom: 5px;
    color: $colorGrey;
  }
  :global(.labels-form) {
    min-height: 545px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
  }
}

.applyCoupon {
  padding: 15px;
  border: 1px solid $colorGrey;
  margin-bottom: 15px;
  input {
    padding: 12px 15px;
    border: 1px dashed #DADADA;
    margin-right: 12px;
    background: none;
  }
  span {
    color: $colorRed;
  }
  p {
    color: $colorGrey;
    margin: 15px 0;
  }
  &:global(.active) {
    border: 1px solid $colorBlack;
  }
}

.buttonGroup {
  text-align: center;
  > div {
    margin-bottom: 9px;
  }
}

.buttons {
  display: flex;
  button {
    margin-left: 9px;
  }
}

.paymentOptionsSidebar {
  background: #fff;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      border-bottom: 1px solid $colorGrey;
      padding: 0 15px;
      a {
        display: inline-block;
        padding: 30px 0;
        color: $colorBlack;
        font-family: $fontTitle;
        border-bottom: 2px solid transparent;
        font-size: 18px;
        &:hover {
          text-decoration: none;
        }
        &:global(.active) {
          border-bottom: 2px solid $colorBlack;
        }
      }
    }
  }
}

.gatewayList {
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;
}

.gateway {
  position: relative;
  .checked {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: -45px;
  }
}

.paymentBlockInner {
  min-height: 220px;
  padding: 0 90px;
  display: flex;
}

.ebanking {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  button {
    align-self: flex-end;
  }
}

.cashondelivery {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
