@import "../../Styles/scss/partials/vars";

.headerBack {
  background: $colorBluishBlack;
}

.header {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: flex-end;
}

.brandLogo {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
}

.headerImage {

}
