@import "../../../Styles/scss/partials/vars";

.block {
  background: #fff;
  padding: 24px;
  margin-bottom: $verticalGutter / 2;
  &.noMargin {
    margin: 0;
  }
  @media (max-width: 480px) {
    padding: 12px;
  }
}
.head {
  display: flex;
  h1,h2,h3,h4,h5,h6 {
    margin: 0;
  }
}
.titlePrimary, .titleSecondary {
  flex-grow: 1;
}
.titlePrimary {
  display: flex;
  align-items: center;
  h1,h2,h3,h4,h5,h6 {
    font-family: $fontTitle;
    padding-right: 12px;
  }
}
.titleSecondary {
  h1,h2,h3,h4,h5,h6 {
    font-family: $fontRegular;
  }
}
.action {
  display: flex;
}
