@import "../../Styles/scss/partials/vars";
@import "../../Styles/scss/themes/colors";

.about {
  background: url("../../Static/img/back.png");
  height: 700px;
  margin-top: 92px;
  background-size: cover;
  background-position: center;
  .details {
    padding-top: 300px;
    width: 30%;
    h1 {
      line-height: 1em;
      margin-bottom: 21px;
      color: $colorBlack;
      text-transform: uppercase;
    }
  }
  @media (max-width: 1025px) {
    height: 490px;
    .details {
      padding-top: 150px;
      p {
        display: none;
      }
    }
  }
  @media (max-width: 480px) {
    height: 190px;
    .details {
      padding-top: 35px;
    }
  }
}
.content {
  margin: 75px 0;
}
