@import "../../Styles/scss/partials/vars";

.feedSection {
  margin-bottom: $verticalGutter;
  text-align: center;
  p {
    margin-bottom: $verticalGutter;
    line-height: 1.1;
    font-size: 21px;
  }
}
.instaLogo {
  font-family: $fontTitle;
  font-size: 18px;
  margin-bottom: $verticalGutter;
  img {
    margin-right: 24px;
  }
}
.feedWrap {
  @media (max-width: 769px) {
    overflow: auto;
    :global(.row) {
      flex-wrap: nowrap;
    }
    :global(.insta-col) {
      min-width: max-content;
    }
  }
}
