@import 'vars';

body {
  color: $colorBlack;
  font-family: $fontRegular;
  font-size: 16px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  &:hover {
    color: inherit;
  }
}

:focus {
  outline: none !important;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $fontRegular;
}

h1 {
  font-size: 3.75em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2.25em;
}

h4 {
  font-size: 1.8em;
}

.row {
  margin-left: -10px;
  margin-right: -10px;
  > div {
    padding-left: 10px;
    padding-right: 10px;
  }
}

ul {
  &.inline {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      &:not(:last-child) {
        padding-right: 12px;
      }
    }
  }
}
