@font-face {
    font-family: 'tex';
    src: url('../../Static/fonts/texgyreadventor-regular-webfont.eot');
    src: url('../../Static/fonts/texgyreadventor-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../Static/fonts/texgyreadventor-regular-webfont.woff') format('woff'),
         url('../../Static/fonts/texgyreadventor-regular-webfont.ttf') format('truetype'),
         url('../../Static/fonts/texgyreadventor-regular-webfont.svg#tex_gyre_adventorregular') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'tex';
    src: url('../../Static/fonts/texgyreadventor-bold-webfont.eot');
    src: url('../../Static/fonts/texgyreadventor-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../Static/fonts/texgyreadventor-bold-webfont.woff') format('woff'),
         url('../../Static/fonts/texgyreadventor-bold-webfont.ttf') format('truetype'),
         url('../../Static/fonts/texgyreadventor-bold-webfont.svg#tex_gyre_adventorbold') format('svg');
    font-weight: 700;
    font-style: normal;
}
