._icon {
  display: inline-block;
  width: 23px;
  height: 21px;
  background: url('../../Static/img/sprites.png') no-repeat;
  &.__cart {
    background-position: 0 0;
  }
  &.__user {
    background-position: -23px 0;
  }
  &.__search {
    background-position: -45px 0;
  }
  &.__fb {
    background-position: 0 -24px;
  }
  &.__insta {
    background-position: -22px -24px;
    width: 30px;
  }
  &.__tw {
    background-position: -56px -24px;
    width: 37px;
  }
  &.__ut {
    background-position: -146px -24px;
    width: 42px;
  }
  &.__gp {
    background-position: -96px -24px;
    width: 46px;
  }
}
