$fontTitle: 'Oswald', fantasy, sans-serif;
$fontRegular: 'tex', sans-serif;

$colorBluishBlack: #15161a;
$colorBlack: #11100C;
$colorRed: #ac0826;
$colorRedDark: #83031b;
$colorGrey: #DADADA;

$colGutter: 20px;
$verticalGutter: 52px;

$breakpointMobile: 1025px;

$headerHeight: 92px;
