@import "../../../Styles/scss/partials/vars";

.title {
  font-family: $fontTitle;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: $verticalGutter;
}

.item {
  background: $colorGrey;
  @media (max-width: 769px) {
    background: none;
  }
}

.listWrap {
  margin-bottom: $verticalGutter;
}

.mobileHorizontalSlider {
  :global(.slick-dots) {
    li {
      button {
        &:before {
          font-size: 24px;
        }
      }
    }
  }
}
