@import "../../Styles/scss/partials/vars";

.sliderWrap {
  width: 100%;
  margin-bottom: $verticalGutter;
  .slides {
    overflow: hidden;
    position: relative;
  }
}
.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: 0px center;
  &:global(.__a) {
    z-index: 15;
    > div {
      opacity: 1;
      transition: opacity .3s ease;
    }
  }
  &:global(.__ar) {
    z-index: 15;
    > div {
      opacity: 0;
      transition: all .3s ease;
    }
  }
  &:global(.__r) {
    z-index: 20;
    > div {
      opacity: 0;
      // transition: all .3s ease;
    }
  }
}
