@import "../../Styles/scss/partials/vars";
@import "../../Styles/scss/themes/colors";

h3, h4 {
  text-transform: uppercase;
}

/* Index page css starts */
.aboutExcerpt {
  h4 {
    margin-top: 75px;
    margin-bottom: 30px;
    text-transform: uppercase;
  }
}
.greyWrapper {
  background: #ededed;
  margin-top: 90px;
  color: $colorBlack;
  padding-bottom: 75px;
}
.midContainer {
  max-width: 1550px;
  margin: auto;
  padding: 0 30px;
  .contentWrapper {
    padding-top: 75px;
    .content {
      h3 {
        line-height: 1em;
        margin-bottom: 45px;
        text-transform: uppercase;
      }
      padding-top: 45px;
      padding-right: 45px;
      a {
        text-decoration: underline;
        color: $colorBlack;
      }
    }
    .contentLeft {
      padding-right: 0;
      padding-left: 45px;
    }
  }
  .mapSection {
    margin-top: 60px;
    text-align: center;
    .map {
      margin-top: 30px;
    }
  }
}
/* Index page css ends */


/* Slider Css Starts */
.aboutSlider {
  font-family: $fontRegular;
  position: relative;
  .details {
    position: absolute;
    top: 40%;
    width: 30%;
    h1 {
      line-height: 1em;
      margin-bottom: 21px;
      color: $summer3;
      text-transform: uppercase;
    }
    @media (max-width: 1025px) {
      p {
        display: none;
      }
    }
  }
}
/* Slider Css ends */
