@import "../../Styles/scss/partials/vars";

.sidebar {
  position: sticky;
  // top: 60px;
  top: 108px;
  padding-bottom: 30px;
}

.sideBlock {
  margin-bottom: 30px;
}

.salesMain {
  padding-top: 0 !important;
}

.sideBlockTitle {
  border-bottom: 2px solid $colorGrey;
  font-family: $fontTitle;
  text-transform: uppercase;
  padding-bottom: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.sideBlockMain {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      cursor: pointer;
      span {
        line-height: 1.5;
      }
      ul {
        margin-left: 15px;
        font-size: 12px;
        max-height: 0;
        transition: all .2s ease;
        overflow: hidden;
      }
      &:global(.active) {
        > span {
          font-weight: 700;
          line-height: 1.5;
        }
        ul {
          max-height: 500px;
          transition: all .2s ease;
        }
      }
    }
  }
  @media (max-width: 769px) {
    font-size: 18px;
    ul {
      li {
        padding: 12px 0;
        ul {
          font-size: 16px;
        }
      }
    }
  }
  @media (max-width: 480px) {
    ul {
      li {
        padding: 6px 0;
      }
    }
  }
}

.sizeButtons {
  display: flex;
  button:not(:last-child) {
    margin-right: 9px;
  }
  button {
    transition: all .3s ease;
    padding: 9px !important;
    flex: 1;
    background: #fff;
    border: 2px solid $colorGrey;
    color: #000;
    &:hover {
      background: $colorGrey;
      color: #000;
    }
    &:global(.active) {
      background: $colorGrey;
      transition: all .3s ease;
    }
  }
}

.listing {
  :global(.row) {
    margin-left: -24px;
    margin-right: -24px;
    > div {
      padding-left: 24px;
      padding-right: 24px;
    }
  }
}

.listingTop {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
  font-family: $fontTitle;
  text-transform: uppercase;
}

.product {
  margin-bottom: 36px;
  position: relative;
  a {
    color: $colorBlack;
    &:hover {
      text-decoration: none;
    }
  }
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  padding-top: 24px;
  justify-content: space-between;
}

.sale {
  background: $colorRed;
  padding: 6px;
  color: #fff;
  font-family: $fontTitle;
  font-weight: 400;
  font-size: 14px;
  position: absolute;
  top: 30px;
  z-index: 5;
  height: max-content;
}

.quickLinks {
  position: absolute;
  top: 30px;
  z-index: 5;
  right: 0;
  display: flex;
  flex-direction: column;
  padding-right: 15px;
}

.productDetails {
  padding-top: 21px;
  p {
    margin: 0;
  }
}

.smallSelect {
  cursor: pointer;
  :global(.selector) {
    min-width: 60px;
    :global(.activeOptionRight) {
      padding-left: 0;
    }
  }
}

.smallSelectIcon {
  background: url('../../Static/img/sprites.png') no-repeat;
  width: 14px;
  height: 10px;
  display: inline-block;
  background-position: -40px -70px;
  margin-left: 6px;
}

.moreWrap {
  display: flex;
  margin-bottom: $verticalGutter;
  justify-content: center;
}

.productImage {
  overflow: hidden;
  position: relative;
}

.sizesOverlay {
  position: absolute;
  bottom: -100%;
  left: 0;
  right: 0;
  z-index: 5;
  padding: 15px;
  background: rgba(255, 255, 255, .66);
  transition: all .3s ease;
  border-top: 1px solid rgba(0, 0, 0, 0.25)
  p {
    font-size: 14px;
    margin: 0 0 12px 0;
  }
  &:global(.active) {
    bottom: 0;
    transition: all .15s ease;
  }
}

.sizeButton {
  background: none;
  border: 1px solid $colorBlack;
  border-radius: 50%;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 6px;
  margin-bottom: 6px
}
