@import "../../Styles/scss/partials/vars";

.brandList {
  margin-bottom: $verticalGutter;
}
.title {
  text-align: center;
  font-size: 18px;
  margin-bottom: $verticalGutter;
  font-family: $fontTitle;
}
.brandWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  @media (max-width: 500px) {
    justify-content: space-between;
  }
}
.brand {
  margin: 15px 81px;
  @media (max-width: 1025px) {
    margin: 15px 60px;
  }
  @media (max-width: 769px) {
    margin: 15px 36px;
  }
  @media (max-width: 500px) {
    margin: 15px 0;
  }
}
