@import "../../Styles/scss/partials/vars";

.wrapper {
  margin-bottom: $verticalGutter;
}

.text14 {
  font-size: 14px;
}

.text12 {
  font-size: 12px;
}

.sectionTitle {
  font-family: $fontTitle;
  margin-bottom: $verticalGutter;
  text-transform: uppercase;
  font-size: 18px;
}

.review {
  display: flex;
  margin-bottom: 30px;
}

.body {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.title {
  text-transform: uppercase;
  h4 {
    font-size: 20px;
  }
}

.date {
  composes: text14;
}

.userImg {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 21px;
}

.reviewBody {
  composes: text14;
  margin: 6px 0 21px 0;
  p {
    margin-bottom: 9px;
  }
}

.response {
}

.by {
  display: flex;
  align-items: center;
  img {
    width: 72px;
    margin-right: 9px;
  }
  span {
    font-size: 12px;
    color: #494949;
  }
}

.responsebody {
  composes: text14;
  margin-top: 9px;
  background: $colorGrey;
  padding: 12px;
  p {
    margin-bottom: 9px;
  }
}
