@import "../../Styles/scss/partials/vars";

.productWrapper {
  margin-bottom: $verticalGutter;
}

.productSliderWrapper {
  :global(.slides) {
    // height: 700px;
  }
  :global(.slider-wrap) {
    margin-bottom: 0;
  }
}

.productVisuals {
  display: flex;
  @media (max-width: 480px) {
    flex-direction: column;
  }
}

.productDetails {
  background: #fff;
  padding: 18px;
}

.productName {
  font-size: 30px;
  text-transform: uppercase;
  font-family: $fontRegular;
}

.ratings {
  margin: 18px 0;
}

.subTitle {
  margin-bottom: 12px;
  font-family: $fontRegular;
  font-size: 20px;
  font-weight: bold;
}

.productColors {
  margin: 24px 0;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      margin-right: 12px;
      margin-bottom: 9px;
      button {
        width: 60px;
        height: 60px;
        display: block;
        cursor: pointer;
        background: $colorGrey;
        border: none;
        border-radius: 50%;
      }
      &:global(.active) {
        button {
          box-shadow: inset 0 0 0px 3px #9e9e9e;
        }
      }
    }
  }
}

.productOptions {
  display: flex;
  max-width: 325px;
  margin: auto;
}

.productOptionsLeft {
  flex: 3;
}

.productOptionsRight {
  margin-left: 9px;
  width: 60px;
  :global(.selector) {
    min-width: 0;
  }
  :global(.activeOptionRight) {
    padding-left: 0;
  }
}

.addToCart {
  margin-top: 9px;
  button {
    padding: 5px 15px;
    letter-spacing: 3px;
  }
}

.policy {
  font-size: 14px;
  color: $colorBlack;
  margin-top: 9px;
  display: block;
  text-align: center;
  padding-right: 69px;
  &:hover {
    text-decoration: none;
  }
}

.navSliderWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  margin-right: 45px;
  @media (max-width: 480px) {
    order: 2;
    width: 100%;
    margin: 0;
    display: block;
  }
}

.navSlider {
  max-height: 555px;
  img {
    max-height: 120px;
    width: auto !important;
  }
  :global(.slick-slide) {
    border: none;
    padding: 3px 0;
    img:global(.active) {
      border: 1px solid $colorBlack;
    }
  }
  :global(.slick-arrow) {
    margin-left: 45px;
    cursor: pointer;
    &:global(.slick-disabled) {
      opacity: .3;
      pointer-events: none;
    }
  }
  @media (max-width: 480px) {
    order: 1;
    img {
      width: 80px !important;
    }
  }
}

.productSlider {
  flex-grow: 1;
}

.breadcrumbs {
  margin-bottom: 15px;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      margin-right: 3px;
      &:not(:last-child) {
        &:after {
          content: "/";
          padding-left: 3px;
        }
      }
      a {
        color: #000;
        text-transform: uppercase;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.sectionTitle {
  font-family: $fontTitle;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 52px;
}
