@import "../../Styles/scss/partials/vars";

.oops {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background: $colorBlack;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 81px;
  font-family: $fontTitle;
  color: #fff;
}
