@import "../../Styles/scss/partials/vars";

.cats {
  margin-bottom: $verticalGutter;
}

.cat {
  position: relative;
  margin-bottom: 15px;
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .6);
    transition: all .15s ease;
  }
  &:hover {
    &:after {
      background: rgba(0, 0, 0, .85);
      transition: all .3s ease;
    }
  }
  a {
    color: #fff;
    display: flex;
    &:hover {
      color: #fff;
    }
    img {
      align-self: flex-start;
    }
  }
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 10;
    font-family: $fontTitle;
    font-size: 18px;
    top: 0;
    left: 0;
    display: flex;
  }
}
