@import '../../Styles/scss/partials/vars';
.subMenuWidth {
  width: 185px;
}
.top {
  padding: 6px 0;
}
.bottom {
  border-top: 1px solid $colorGrey;
  border-bottom: 1px solid $colorGrey;
  position: sticky;
  top: 0;
  z-index: 450;
  background: #fff;
}
.right {
  composes: subMenuWidth;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.usermenu {
  padding-top: 6px;
  display: flex;
  margin-left: 19px;
  a {
    color: $colorBlack;
    margin-left: 9px;
  }
}
.icon {
  margin-left: 18px;
}
.menu {
  margin: 0;
  padding: 0;
  text-align: center;
  position: relative;
  > li {
    display: inline-block;
    > a, span {
      padding: 9px 18px;
      color: #000;
      text-transform: uppercase;
      font-family: Oswald;
      display: block;
      cursor: pointer;
      &:global(.active) {
        border-bottom: 2px solid #000;
      }
      &:hover {
        text-decoration: none;
      }
    }
    &:hover {
      .subMenu {
        max-height: 600px;
        transition: all .3s ease;
        // .subMenuInner {
        //   opacity: 1;
        //   transition: all .2s ease .15s;
        // }
      }
    }
  }
}
.formWrap {
  composes: subMenuWidth;
  float: right;
  padding-top: 6px;
  position: relative;
  input {
    width: 100%;
    padding: 5px 6px 5px 33px;
    font-size: 12px;
  }
  > span {
    position: absolute;
    top: 11px;
    left: 5px;
  }
  @media (max-width: $breakpointMobile) {
    padding: 6px 0;
  }
}
.salebtn {
  padding: 6px 21px 6px 27px !important;
}
.subMenu {
  position: absolute;
  background: #fff;
  z-index: 100;
  left: 0;
  display: flex;
  justify-content: center;
  max-height: 0;
  overflow: hidden;
  transition: all .3s ease;
}
.subMenuInner {
  padding: 27px 0;
  // opacity: 0;
  // transition: all .3s ease;
}
.subMenuLink {
  font-family: $fontRegular;
  text-transform: none;
  font-size: 14px;
  padding: 0;
  display: block;
  color: $colorBlack;
  padding: 3px 0;
  &:hover {
    text-decoration: none;
  }
}
.subMenuWrapper {}
.subMenuColumn {
  text-align: left;
}
.drawerToggle {
  height: 100%;
  display: flex;
  align-items: center;
}
.loginButton {
  margin-left: 9px;
  cursor: pointer;
  display: flex;
  padding: 3px;
}
.userMenuLink {
  color: $colorBlack;
  font-size: 14px;
  &:hover {
    text-decoration: none;
  }
}
.userMenuText {
  margin-left: 9px;
  font-size: 12px;
}
.hide {
  display: none;
}
