@import "../../Styles/scss/partials/vars";

.footer {
  background: $colorBlack;
  color: #fff;
  padding: 30px 0;
  span {
    text-transform: uppercase;
  }
  a {
    color: #fff;
    font-family: $fontRegular;
    font-size: 14px;
    &:hover {
      text-decoration: none;
    }
  }
}
.footerList {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 30px;
  li:not(:last-child) {
    margin-bottom: 9px;
  }
}
.socialList {
  text-align: right;
  span {
    font-family: $fontTitle;
    font-size: 14px;
    text-transform: uppercase;
  }
}
.social {
  margin: 15px 0 0 0;
  padding: 0;
  list-style: none;
  li {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 18px;
    }
    :global(._icon) {
      height: 30px;
    }
  }
}
