@import "../../../Styles/scss/partials/vars";

.wrapper {
  border: 1px solid $colorBlack;
  font-family: $fontTitle;
  text-transform: uppercase;
  position: relative;
  &:global(.active) {
    .options {
      max-height: 200px;
      transition: all  .3s ease;
    }
  }
}

.heading {
  padding: 5px 15px;
  text-align: center;
  letter-spacing: 3px;
}

.icon {
  background: url('../../../Static/img/sprites.png') no-repeat;
  width: 14px;
  height: 10px;
  display: inline-block;
  background-position: -40px -70px;
  margin-left: 6px;
}

.options {
  overflow: hidden;
  position: absolute;
  background: #fff;
  width: calc(100% + 2px);
  top: 100%;
  left: -1px;
  max-height: 0;
  transition: all .3s ease;
  .inner {
    padding: 9px 9px 0 9px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px solid $colorBlack;
  }
  button {
    background: none;
    border: 1px solid $colorGrey;
    color: $colorGrey;
    width: 45px;
    height: 45px;
    margin-bottom: 9px;
    &:global(.active) {
      border-bottom: 2px solid $colorBlack;
      color: darken($colorGrey, 50);
    }
  }
}
