@import "../../Styles/scss/partials/vars";

.modalInner {
  padding: 9px 9px 30px 9px;
}
.header {
  text-align: right;
  margin-bottom: 6px;
}
.logo {
  text-align: center;
  margin-bottom: 21px;
}
.formWrap {
  padding: 0 12px;
}
.loginButton {
  margin-left: 9px;
  cursor: pointer;
}
.forgotLink {
  font-size: 12px;
  color: $colorBlack;
  padding-top: 11px;
  &:hover {
    text-decoration: none;
  }
}
.formButton {
  width: 180px;
}
.registerFormButton {
  width: 270px;
}
.hide {
  display: none;
}

.fakeButtonLogin {
  width: 180px;
  height: 50px;
  display: flex !important;
  justify-content: center;
  overflow: hidden;
  align-items: center;
}
