@keyframes sliding {
  0% {
    left: -30%;
  }
  100% {
    left: 130%;
  }
}

@keyframes pulse {
  0% {
    background: rgba(255, 255, 255, 0);
  }
  80% {
    background: rgba(255, 255, 255, .8);
  }
  100% {
    background: rgba(255, 255, 255, 0);
  }
}

.wrapper {
  .placeholderFlex {
    position: relative;
    overflow: hidden;
    flex: 1;
    &:not(:last-child) {
      margin-right: 6px;
    }
    &:after {
      content: "";
      position: absolute;
      z-index: 10;
      background: #dadada;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
    &:before {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      top: 0;
      z-index: 15;
      animation: pulse 1.5s infinite;
    }
  }
  .placeholderSpan {
    display: inline-block;
  }
  .placeholderDiv, .placeholderSpan {
    position: relative;
    overflow: hidden;
    &:not(:last-child) {
      margin-bottom: 6px;
    }
    &:after {
      content: "";
      position: absolute;
      z-index: 10;
      background: #dadada;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
    &:before {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      top: 0;
      z-index: 15;
      animation: pulse 1.5s infinite;
    }
  }
}
