@import "../../../Styles/scss/partials/vars";
.selector {
  position: relative;
  cursor: pointer;
  min-width: 210px;
  font-family: $fontTitle;
}
.activeOption {
  padding: 5px 15px;
  border: 1px solid $colorBlack;
  justify-content: space-between;
  display: flex;
}
.activeOptionRight {
  padding-left: 15px;
}
.icon {
  background: url('../../../Static/img/sprites.png') no-repeat;
  width: 14px;
  height: 10px;
  display: inline-block;
  background-position: -40px -70px;
  margin-left: 6px;
}
.otherOptions {
  position: absolute;
  background: #fff;
  left: 0;
  right: 0;
  width: auto;
  z-index: 500;
  max-height: 0;
  overflow: hidden;
  transition: all .2s ease;
  border-left: 1px solid $colorBlack;
  border-right: 1px solid $colorBlack;
  &.active {
    max-height: 175px;
    transition: all .2s ease;
  }
}
.option {
  padding: 3px 15px;
  border-bottom: 1px solid $colorBlack;
  button {
    display: block;
    width: 100%;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
    text-transform: uppercase;
    padding: 0;
  }
}
