.item {
  display: flex;
  @media (max-width: 480px) {
    flex-direction: column;
  }
}
.itemBody {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.name {
  h1,h2,h3,h4,h5,h6 {
    margin: 0;
  }
}
.left {
  flex-grow: 1;
  padding: 0 24px;
}
.bodyInner {
  display: flex;
  flex-grow: 1;
}
.selectWrap {
  :global(.selector) {
    min-width: 0;
    width: 90px;
    margin: 12px 0;
  }
}
