@import 'partials/fonts';
@import 'partials/vars';
@import 'partials/basics';
@import 'partials/sprites';
@import 'themes/themes';

#header-wrapper {
  position: fixed;
  z-index: 500;
  width: 100%;
  background: #fff;
  top: 0;
  left: 0;
}

#page {
  margin-top: 92px;
}

.container-md {
  width: 100%;
  max-width: 1500px;
  padding: 0 30px;
}

.cust-container {
  width: 100%;
  max-width: 1800px;
  padding: 0 30px;
  .row {
    &.spacey {
      justify-content: space-between;
    }
  }
}

button, *[role="button"] {
  cursor: pointer;
}

.__verticalAlign {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  line-height: 0;
}

.lazyPlaceholder {
  background: $colorGrey;
  width: 100%;
  position: relative;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }
}

.fakeButton {
  height: 50px;
  display: flex !important;
  justify-content: center;
  overflow: hidden;
  align-items: center;
}

.btn {
  display: inline-block;
  border: none;
  text-transform: uppercase;
  font-family: $fontTitle;
  padding: 6px 30px 6px 36px;
  letter-spacing: 6px;
  cursor: pointer;
  transition: all .3s ease;
  background: $colorRed;
  color: #fff;
  max-width: 100%;
  &:hover {
    background: $colorRedDark;
    text-decoration: none;
    color: #fff;
    transition: all .15s ease;
  }
  &.loading {
    cursor: not-allowed;
    height: 36px;
    display: flex;
    justify-content: center;
  }
  &.__medium {
    width: 230px;
    padding: 6px 0;
  }
  &.__red {
    background: $colorRed;
    &:hover {
      background: $colorRedDark;
    }
  }
  &.__full {
    width: 100%;
  }
  &.__small {
    letter-spacing: 1px;
    // flex: 1;
    padding: 9px 30px;
    // border: 2px solid $colorGrey;
  }
  &.__link {
    background: none;
    color: $colorBlack;
    text-decoration: underline;
    text-transform: none;
    font-family: $fontRegular;
    letter-spacing: normal;
    padding: 0;
    &.dialogButton {
      background: none;
      color: #fff;
      text-decoration: none;
      margin-left: 9px;
    }
  }
  &.__bordered {
    border: 1px solid $colorBlack;
  }
}

.banner {
  display: flex;
  align-items: center;
  .details {
    width: 30%;
    // margin-left: 30px;
    h1 {
      @include themify($themes) {
        color: themed('bannerTitleColor');
      }
      line-height: 1em;
      margin-bottom: 21px;
    }
    p {
      margin-bottom: 20px;
      font-size: 1.2em;
      @media (max-width: 769px) {
        display: none;
      }
    }
    @media (max-width: 480px) {
      display: none;
    }
  }
}

#main {
  padding-top: 60px;
  margin-top: 92px;
  &.general-content {
    padding-bottom: 100px;
  }
}

#banner-slider {
  .slider-wrap {
    margin-bottom: $verticalGutter;
    // .slides {
    //   height: 700px;
    //   @media (max-width: 1400px) {
    //     height: 600px;
    //   }
    //   @media (max-width: 769px) {
    //     height: 420px;
    //   }
    // }
  }
}

#offers-slider {
  .slider-wrap {
    position: relative;
    .slides {
      height: 400px;
      @media (max-width: 1400px) {
        height: 300px;
      }
      @media (max-width: 1025px) {
        height: 258px;
      }
      @media (max-width: 500px) {
        height: 180px;
      }
    }
  }
  .buttons {
    position: absolute;
    top: 0;
    z-index: 50;
    height: 100%;
    align-items: center;
    width: 100%;
    display: flex;
    button {
      background: url('../../Static/img/sprites.png');
      border: none;
      text-indent: -9999px;
      width: 15px;
      display: inline-block;
      padding: 0;
      left: 18px;
      position: absolute;
      cursor: pointer;
    }
    ._prev {
      background-position: 0 27px;
    }
    ._next {
      left: auto;
      right: 18px;
      background-position: -22px 27px;
    }
  }
}

.offerSliderTitle {
  @include themify($themes) {
    color: themed('offerTitleColor');
  }
}

#sideBarCol {
  max-width: 320px;
  @media (max-width: 769px) {
    max-width: 100%;
  }
}

form {
  &.labels-form {
    .control-row {
      align-items: flex-end;
      .input-wrap {
        position: relative;
        .input-required {
          position: absolute;
          right: 9px;
          top: 6px;
          font-size: 33px;
          color: $colorGrey;
        }
        small {
          font-size: 12px;
          line-height: 1.2;
          display: inline-block;
          margin: 6px 0 6px 0;
          color: #808080;
        }
        input {
          width: 100%;
          padding: 12px 15px;
          border: 1px solid $colorGrey;
          @media (max-width: 769px) {
            margin-bottom: 9px;
          }
          &:focus {
            border-color: $colorBlack;
          }
        }
      }
      .with-error {
        color: $colorRed;
        font-size: 12px;
        ~ input {
          border-color: $colorRed;
        }
      }
      &:not(:last-child) {
        margin-bottom: 9px;
        @media (max-width: 769px) {
          margin-bottom: 0;
        }
      }
    }
  }
}

.general-content {
  a, b {
    color: $colorRed;
  }
  h1,h2,h3,h4,h5,h6 {
    font-family: Oswald;
    text-transform: uppercase;
    margin-bottom: 27px;
    margin-top: 36px;
  }
  h4 {
    font-size: 21px;
  }
  h5 {
    font-size: 18px;
  }
}
