@import "../../../Styles/scss/partials/vars";

.wrapper {
  color: $colorBlack;
}

.main {
  width: 300px;
  left: -100%;
  top: 0;
  bottom: 0;
  z-index: 500;
  background: #fff;
  border-right: 1px solid $colorGrey;
  transition: all .3s ease;
  &:global(.active) {
    left: 0;
    transition: all .3s ease;
  }
}

.header {
  text-align: center;
  padding: 30px 0;
  border-bottom: 1px solid $colorGrey;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.test {
  padding-left: 30px;
}
