@import "../../Styles/scss/themes/themes";

.slide {
  display: flex;
  align-items: center;
  @media (max-width: 769px) {
    background-position: right center !important;
  }
}
.overlay {
  position: relative;
  left: 45px;
  line-height: 1.2;
  :global(.btn) {
    padding: 12px 15px 12px 21px;
    margin-top: 12px;
  }
  @media (max-width: 500px) {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 3px 0;
    width: 100%;
    left: 0;
    align-items: center;
  }
}
.highlight {
  font-size: 63px;
  font-weight: 700;
  @media (max-width: 1025px) {
    font-size: 45px;
  }
  @media (max-width: 500px) {
    font-size: 35px;
  }
}
.name {
  font-size: 51px;
  font-weight: 700;
  @media (max-width: 1025px) {
    font-size: 30px;
  }
  @media (max-width: 769px) {
    display: none;
  }
}
